.jumbotron {
  text-align: center;
  background-color: hotpink;
  color: yellow;
}

.btn {
  font-size: 17px;
  height: 35px;
  width: 200px;
}

.btn-success {
  background-color: hotpink;
  color: yellow;

}

.btn-success:hover {
  height: 60px;
  width: 260px;
  font-size: 23px;
  background-color: yellow;
  color: hotpink;

}

ul {
  padding-top: 4%;
  font-size: 20px;
}

span {
  color: hotpink;
}

#answer {
  display: none;
}

.radio {
  font-size: 14pt;
  align-items: center;
}

@media (max-width: 767px) {
  .col-sm-6 {
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .bodycontainer {
    padding-left: 15px;
    padding-right: 15px;
  }
}
